<div class="row">
  <h2> Sign Up </h2>
  <form #form="ngForm" class="col s12" (ngSubmit)="onSubmit(form)">
    <div class="row">
      <div class="input-field col s6">
        <input name="Firstname" [(ngModel)]=user.FirstName #Firstname="ngModel" id="first_name" type="text" class="validate" autocomplete="off">
        <label for="first_name">First name</label>
      </div>
      <div class="input-field col s6">
        <input name="Lastname" [(ngModel)]="user.Lastname" #Lastname="ngModel" id="last_name" type="text" class="validate" autocomplete="off">
        <label for="last_name">Last name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input class="validate"  type="text" name="Username" [(ngModel)]="user.Username" #Username="ngModel" id="Username" required>
        <label data-error="Required field!">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input class="validate" type="password" name="Password" #Password="ngModel" [(ngModel)]="user.Password" required  minlength="6" autocomplete="off">
        <label for="password" [attr.data.error]="Password.errors!=null?(Password.errors.required?'required field!':'Minmum 6 characters'):''">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input name="Email" [(ngModel)]="user.Email" #Email="ngModel" id="email" type="email" class="validate" [pattern]="emailPattern">
        <label data-error="Invaild Email">Email</label>
      </div>
    </div>
    <div class="row">
        <button  class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right"></i>
          </button>
    </div>
    <div class="row">
      <a style="font-family:monospace" routerLink="/login" name="action">already have account? login!
          <i class="material-icons right"></i>
      </a>
        
  </div>
  </form>
</div>